{% extends "customer-layout.html" %}
{% block body %}
<div class="container-fluid">
  <div>
    <h1 align="center"> Week's future Orders </h1>
  </div>
  <div class="container-fluid">
    <div>
      <h3> May 3 </h3>
      <hr>
      <div class="row">
        <div class="col_6">
          <div class="col_3">
            <img src="{{url_for('static', filename='img/egg.jpg')}}" alt="Product Image" class="img-thumbnail">
          </div>

          <div class="col_9">
            <div class="row">
              <dt class="col-sm-3">Product</dt>
              <dd class="col-sm-9">Grade A eggs</dd>
              <dt class="col-sm-3">Qty</dt>
              <dd class="col-sm-9">10 Counts</dd>
              <dt class="col-sm-3">Seller</dt>
              <dd class="col-sm-9">Wallmart</dd>
            </div>
            <br/>
          </div>
        </div>

        <div class="col_6">
          <div class="col_3">
            <img src="{{url_for('static', filename='img/egg.jpg')}}" alt="Product Image" class="img-thumbnail">
          </div>

          <div class="col_9">
            <div class="row">
              <dt class="col-sm-3">Product</dt>
              <dd class="col-sm-9">Grade A eggs</dd>
              <dt class="col-sm-3">Qty</dt>
              <dd class="col-sm-9">10 Counts</dd>
              <dt class="col-sm-3">Seller</dt>
              <dd class="col-sm-9">Wallmart</dd>
            </div>
            <br/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col_6">
          <div class="col_3">
            <img src="{{url_for('static', filename='img/egg.jpg')}}" alt="Product Image" class="img-thumbnail">
          </div>

          <div class="col_9">
            <div class="row">
              <dt class="col-sm-3">Product</dt>
              <dd class="col-sm-9">Grade A eggs</dd>
              <dt class="col-sm-3">Qty</dt>
              <dd class="col-sm-9">10 Counts</dd>
              <dt class="col-sm-3">Seller</dt>
              <dd class="col-sm-9">Wallmart</dd>
            </div>
            <br/>
          </div>
        </div>

        <div class="col_6">
          <div class="col_3">
            <img src="{{url_for('static', filename='img/egg.jpg')}}" alt="Product Image" class="img-thumbnail">
          </div>

          <div class="col_9">
            <div class="row">
              <dt class="col-sm-3">Product</dt>
              <dd class="col-sm-9">Grade A eggs</dd>
              <dt class="col-sm-3">Qty</dt>
              <dd class="col-sm-9">10 Counts</dd>
              <dt class="col-sm-3">Seller</dt>
              <dd class="col-sm-9">Wallmart</dd>
            </div>
            <br/>
          </div>
        </div>
      </div>

      <h3> May 7 </h3>
      <hr>
      <div class="row">
        <div class="col_6">
          <div class="col_3">
            <img src="{{url_for('static', filename='img/egg.jpg')}}" alt="Product Image" class="img-thumbnail">
          </div>

          <div class="col_9">
            <div class="row">
              <dt class="col-sm-3">Product</dt>
              <dd class="col-sm-9">Grade A eggs</dd>
              <dt class="col-sm-3">Qty</dt>
              <dd class="col-sm-9">10 Counts</dd>
              <dt class="col-sm-3">Seller</dt>
              <dd class="col-sm-9">Wallmart</dd>
            </div>
            <br/>
          </div>
        </div>

        <div class="col_6">
          <div class="col_3">
            <img src="{{url_for('static', filename='img/egg.jpg')}}" alt="Product Image" class="img-thumbnail">
          </div>

          <div class="col_9">
            <div class="row">
              <dt class="col-sm-3">Product</dt>
              <dd class="col-sm-9">Grade A eggs</dd>
              <dt class="col-sm-3">Qty</dt>
              <dd class="col-sm-9">10 Counts</dd>
              <dt class="col-sm-3">Seller</dt>
              <dd class="col-sm-9">Wallmart</dd>
            </div>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
